.archive-posts-container {
  /* border: solid red 1px; */
  width: 68vw;
  margin: 0 auto;
  font-size: 1.1rem;
  flex: 1;
}

.archive-posts-container .container {
  width: 100%;
}

.archive-posts-container .pic {
  padding-bottom: 2rem;
}

.archive-posts-container .container .post-text {
  padding-left: 1rem;
  width: 30rem;
}

.archive-posts-container .container .post-text p {
  font-size: 1rem;
}

.archive-posts-container .container .post-text a {
  font-size: 1.3rem;
}

.archive-posts-container .container img {
  width: 17.5rem;
  height: 9rem;
  margin-left: 20rem;
}

.archive-posts-container .search-icon {
  display: none;
}

label {
  margin-left: 1rem;
  font-size: 0.9rem;
  width: 6rem;
  margin-top: 5px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

label input {
  margin: 0;
  margin-left: 10px;
}

.archive-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.archive-input {
  all: unset;
  width: 17rem;
  height: 1.5rem;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
}

.archive-input:focus {
  outline: 2px solid green;
}

.archive-input-container {
  margin: 1rem 5%;
  display: flex;
  justify-content: space-between;
  width: 90%;
  overflow: hidden;
}

.archive-search {
  margin-top: 0.3rem;
  margin-right: 10px;
  float: left;
}

select {
  width: 15rem;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  color: #363737;
  cursor: pointer;
  margin-left: 0.5rem;
}

select:focus {
  outline: 2px solid green;
}

@media (max-width: 970px) {
  .archive-posts-container .container .post-text {
    width: 21rem;
  }

  .archive-posts-container {
    font-size: 0.7rem;
  }

  .archive-posts-container h2 a {
    font-size: 1rem !important;
  }

  .archive-posts-container p {
    font-size: 0.9rem !important;
  }

  .archive-posts-container .container img {
    margin: 0;
    margin-top: 1rem;
    width: 12rem;
    height: 8rem;
  }
}

@media (max-width: 830px) {
  .archive-posts-container .container .post-text {
    width: 21rem;
  }

  .archive-posts-container {
    font-size: 0.4rem;
  }

  .archive-posts-container h2 a {
    font-size: 1rem !important;
  }

  .archive-posts-container p {
    font-size: 0.9rem !important;
  }

  .archive-posts-container .container img {
    margin: 0;
    margin-top: 1rem;
    width: 12rem;
    height: 8rem;
  }
}
