.comment-content {
  width: 50rem;
  height: 3rem;
  margin: 0.3rem;
  border-bottom: 1px solid lightgray;
}

.comment:last-child .comment-content {
  border-bottom: none;
}

.comments-wrapper {
  margin-top: 1.5rem;
}

textarea {
  width: 50rem;
  height: 6rem;
  border-radius: 5px;
}

textarea:focus {
  outline: none !important;
  border-color: green;
  border-width: 2px;
}

.comment-photo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  float: left;
  object-fit: cover;
  margin-right: 0.5rem;
}

.comments-wrapper > .comment-photo {
  margin-right: 1rem;
}

.comment > p {
  font-size: 0.9rem;
}

.submit-button {
  all: unset;
  border-radius: 5px 5px 5px 5px;
  height: 2.6rem;
  padding: 0 1em 0 1em;
  background-image: linear-gradient(-180deg, green 0%, darkgreen);
  font-weight: bold;
  color: white;
  margin-left: 1rem;
}

.comment-date {
  color: gray;
}

@media (max-width: 970px) {
  .comments-wrapper {
    width: 68vw;
  }

  textarea {
    width: 100%;
  }

  .submit-button {
    margin: 0;
  }

  .comments-container {
    width: 100%;
  }

  .comment-content {
    width: 100%;
  }
}
