.quill {
  margin: 0.6rem auto;
  width: 55vw;
}

.ql-container {
  width: 55vw;
  font-size: 1.1rem;
  margin: 0 auto;
}

.quill iframe {
  pointer-events: none;
}

.ql-container .ql-editor h1,
.ql-container .ql-editor h2,
.ql-container .ql-editor h3,
.ql-container .ql-editor h4,
.ql-container .ql-editor h5,
.ql-container .ql-editor h6 {
  overflow-wrap: anywhere;
}

pre.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  border-radius: 5px;
  padding: 5px;
}

.editor-view {
  margin: 0.6rem auto;
  font-size: 1.1rem;
}

.editor-view h1 {
  overflow-wrap: anywhere;
  font-size: 2em;
}

.form-container {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.form-container h2 {
  margin-bottom: 0.5rem;
  color: #363737;
}

.create-post-container {
  width: 68vw;
  margin: 0 auto;
}

.cover-preview {
  width: 15rem;
  height: 12rem;
}

.formInput {
  width: 30rem;
  height: 1.5rem;
  border-radius: 5px;
  border-width: 1px;
}

.formInput:focus {
  outline: solid green 1px;
}

button:hover .ql-stroke,
.ql-picker-label:hover .ql-stroke {
  fill: none;
  stroke: green !important;
}

.ql-snow.ql-toolbar .ql-picker-label.ql-active {
  color: green !important;
}

.ql-snow.ql-toolbar .ql-picker-label:hover {
  color: green !important;
}

.ql-snow.ql-toolbar .ql-picker-item:hover {
  color: green !important;
}

.ql-active .ql-stroke {
  fill: none;
  stroke: green !important;
}

button:hover .ql-fill,
.ql-picker-label:hover .ql-fill {
  fill: green !important;
  stroke: none;
}

.ql-active .ql-fill {
  fill: green !important;
  stroke: none;
}

form .submit-button {
  all: unset;
  border-radius: 5px;
  height: 2.6rem;
  padding: 0 1rem 0 1rem;
  background-image: linear-gradient(-180deg, green 0%, darkgreen);
  font-weight: bold;
  color: white;
  margin: 0 0 1rem 6.5rem;
}

.submit-button:hover {
  cursor: pointer;
}
