.auth-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.auth-content-container .logo {
  width: 15rem;
  height: 5rem;
  /* border: solid red 1px; */
}

.switch:hover {
  cursor: pointer;
}

form {
  width: 100%;
}

.auth-content-container {
  width: 68vw;
  margin: 1rem auto;
  text-align: center;
  background-color: #e1e5e5;
  border-radius: 5%;
  padding: 1rem;
  flex: 1;
}

.login-input {
  all: unset;
  width: 30%;
  height: 1.5rem;
  display: block;
  border: solid lightslategray 1px;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  text-align: left;
  margin: 0.5rem auto;
}

.login-input:focus {
  outline: 2px solid green;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid red 1px; */
}

.register-container h2 {
  margin: 0.5rem;
}

.register-button {
  all: unset;
  margin-top: 2%;
  margin-right: 1%;
  border-radius: 5px;
  height: 2.6em;
  padding: 0 1em 0 1em;
  background-color: green;
  font-weight: bold;
  color: white;
}

.register-button:hover {
  cursor: pointer;
}
