.pic {
  width: 100%;
  height: 9rem;
  display: grid;
  grid-template-columns: 24.5rem 14.5rem;
  grid-template-rows: 1fr;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: lightgray;
  padding-bottom: 1.2rem;
  position: relative;
  overflow: hidden;
}

.pic:last-child {
  border: none;
}

.pic img {
  height: 8.3rem;
  width: 13rem;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 0.9rem;
  margin-top: 0.8rem;
}

.pic p {
  text-align: left;
  margin: 0px;
  margin-top: 0.4rem;
  overflow-wrap: anywhere;
  font-size: 0.9rem;
}

.pic h2 {
  text-align: left;
  margin: 0;
  font-size: 0.1rem;
}

.container {
  margin-top: 1.9rem;
  width: 39rem;
  text-align: center;
  display: inline-block;
  overflow: hidden;
}

.post-text {
  margin-top: 1rem;
  max-width: 30rem;
  max-height: 8rem;
  /* border: solid red 1px; */
}

.pic a {
  text-decoration: none;
  color: #363737;
  font-size: 1.2rem;
}

.link {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  float: left;
}

.pic h6 {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: grey;
  font-weight: 600;
  margin: 0px;
  text-align: left;
  margin-top: 0.3rem;
}

.post-icons {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transition: opacity 150ms ease;
  color: grey;
}

.pic:hover .post-icons {
  opacity: 1;
}

.likes,
.comments {
  padding: 1px;
  width: 2.5rem;
  height: 1.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-icon {
  width: 1rem;
  height: 1rem;
}

.pic .likes h6.count {
  margin-bottom: 0.1rem;
  font-size: 0.8rem;
  margin-left: 0.2rem;
}

.pic .comments h6.count {
  margin-bottom: 0.1rem;
  font-size: 0.8rem;
  margin-left: 0.2rem;
}

.search-icon {
  float: right;
  margin-right: 1rem;
  width: 1.8rem;
  height: 1.8rem;
}

.search-icon:hover {
  color: green;
  cursor: pointer;
}

.comment-icon {
  width: 1rem;
  height: 1rem;
}

.likes:hover,
.comments:hover {
  cursor: pointer;
}

@media (max-width: 970px) {
  html {
    font-size: 1rem;
  }
}

@media (max-width: 870px) {
  html {
    font-size: 0.9rem;
  }
}

@media (max-width: 770px) {
  html {
    font-size: 0.85rem;
  }
}

@media (max-width: 730px) {
  html {
    font-size: 0.8rem;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .container {
    width: 90vw !important;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 0.7rem;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .container {
    width: 90vw !important;
  }
}
