.sidebar {
  margin-left: 1.7rem;
  width: 21rem;
  display: inline-block;
  vertical-align: top;
}

.sidebar h2 {
  font-size: 1.3rem;
}

.newsletter-input {
  all: unset;
  height: 95%;
  width: 12rem;
  padding: 0;
  padding-left: 0.5rem;
  border-radius: 5px 0px 0px 5px;
  border: solid green 1px;
}

.footer .newsletter-input {
  width: 9rem;
}

.newsletter-submit {
  all: unset;
  display: inline-block;
  border-radius: 0px 5px 5px 0px;
  height: 100%;
  padding: 0 1rem 0 1rem;
  background-image: linear-gradient(-180deg, green 0%, darkgreen);
  font-weight: bold;
  color: white;
}

.newsletter-container {
  height: 2.7rem;
  overflow: hidden;
}

.newsletter-submit:hover {
  cursor: pointer;
}

.sidebar p {
  font-size: 0.8rem;
}

@media (max-width: 970px) {
  .sidebar {
    display: none;
  }
}
